<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Projects Index</title>
</head>

<body>
	<header>
		<h1>
			Welcome to Bitstarter
			{{#if username}}
				<strong>{{username}}</strong>
			{{/if}}
			!
		</h1>

		<aside>
			{{#if username}}
				<a href="/logout">Logout</a>
			{{else}}
				<a href="/login">Login</a>
			{{/if}}
		</aside>

		<h2>Bitstarter homepage</h2>
	</header>

	<section>
		{{#if projects}}
			<header>
				<h1>Projects Index</h1>
				<h2>The following is a list of all the existing projects.</h2>
			</header>
			<ol>
				{{#each projects}}
				<li>
					<p>Name: {{name}}</p>
					<p>Description: {{description}}</p>
					<p>Goal: {{goal_amount}}</p>
					<p>Address: {{token}}</p>
				</li>
				{{/each}}
			</ol>
	{{else}}
		<p>No projects available.</p>
	{{/if}}
	</section>

</body>
</html>
